<h2>Add a New Article</h2>
<%= render :partial => 'form', :locals => {article: @article} %>
<br>
<div id="articleTitle">
</div>
<div id="articleResult">
</div>
<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post('/articles', values);
      posting.done(function(article) {
        $("#articleTitle").html("<h4>Thank you. You posted the article ; </h4><h5>" + article["title"] +
                                "  doi:" + article["doi"] + "</h5>");
        $("#articleResult").html(articleListEntry(article))

      })
    });
  });
</script>
