<h4>How it works:</h4>
<ul>
  <li>Authors post information on their scientific literatures.</li>
  <li>Readers search scientific literatures by doi(Digital object identifier).</li>
  <li>Readers, after finding the literature they want to read, request it from the author of the literature.</li>
  <li>Author sends the literature to Reader via email.</li>
</ul>
