<h2>Welcome <%= @user.first_name %>, to Scientific Article Sharing Website! </h2>

<h4>Scientific Literatures Shared by Authors</h4>
<br>
<h5>If you are an author of scientific literatures and would like to share yours with others, please list your literatures here!</h5>
<%= link_to "Add your Article", new_articles_path %>
<h4>How it works:</h4>
<ul>
  <li>Authors list their information on their scientific literatures.</li>
  <li>Readers search scientific literatures by doi(Digital object identifier) or by authors.</li>
  <li>Readers, after finding the literature they want to read, request it from the author of the literature.</li>
  <li>Author sends the literature to Reader via email.</li>
</ul>
<br>

<h3>Search</h3>
