/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
section {
  padding-top: 60px;
}

._row {
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix:after {
	content: "";
	clear: both;
	display: table;
}

header {
  background-color: #232739;
}

/* Navigation */

nav img { /* logo */
  height: 60px;
  width: auto;
  float: left;
  margin: 15px 0 10px;
}

.main-nav{
    float: right;
    list-style: none; /* get rid of bullet points */
    margin-top: 25px;
    font-size: 110%;
}

.main-nav li {
    display: inline-block; /* so they can be side by side */
    margin-left: 32px;
}


.main-nav li a:link,
.main-nav li a:visited {
    font-weight: 300;
    padding: 8px 8px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}
.main-nav li a:hover,
.main-nav li a:active {
    color: #555;
    background-color: #D0D8ff;
}
